extends layout
block content
  //- main container
  div(class='flex h-screen justify-center items-center')
    form(class='flex bg-white flex-col shadow-main rounded-xl p-5 gap-5' id='form')
      //- form name
      h1(class='font-black text-2xl') Add New Project
      //- project name input container   
      div()
        label(for="" class='block mb-1') Project Name
        input(type="text" placeholder='Enter Project Name' id='project-name' class='shadow-main rounded-lg p-2 w-full')
      //- project dis input container   
      div()
        label(for="" class='block mb-1') Project Discription
        input(type="text" placeholder='Enter Project Discription' id='project-disc' class='shadow-main rounded-lg p-2 w-full')
      //- project img input container   
      div()
        label(for="" class='block mb-1') Project Image
        input(type="file" class='shadow-main rounded-lg p-2')
      //- add project button container   
      div(class='mb-10')
        button(type='submit' class='bg-blue-400 text-white px-2 py-1 rounded-lg' id='submit_btn') Add Project